
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}
.form{
    margin-top: 50px;
    margin-left: 500px;
    height: 300px;
    width: 400px;
    background-color: blanchedalmond;
    border: 2px solid rgb(101, 138, 218);
    display: flex;
    flex-direction: column;
    border-radius: 10px;

}
.form>div{
    margin-top: 20px;
    padding: 20px;
    /* border: 2px solid green; */
    font-size: 25px ;
}
.btn{
    text-align: center;
}
.btn>input{
    width: 100px;
    height: 40px;
    border: 2px solid rgb(101, 138, 218);
    border-radius: 20px;
    font-size: 25px ;
    cursor: pointer;
}
.input{
    width: 200px;
    height: 40px;
    border: 2px solid rgb(101, 138, 218);
    border-radius: 20px;
    font-size: 25px ;
    text-align: center;
}

/* Popup box */
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid blueviolet; */
    height: 200px;
    max-width: auto;
    border-radius: 10px;

}

/* forlogin popup */
.success{
    background-color: blanchedalmond;
    border: 2px solid green;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    padding: 10px;
    z-index: 1;
    width: 120px;
    color: green;
    text-align: center;
}
.failed{
    /* margin-left: 300px; */
    background-color: blanchedalmond;
    border: 2px solid red;
    display: flex;
    justify-content: center;
    border-radius: 40px;
    padding: 10px;
    z-index: 1;
    width: 160px;
    color: red;
    text-align: center;
}